@import '../../../../styles/mixins.scss';


:host {
    border: 1px solid var(--light-colour);
    border-radius: 2px;
}


.chats-filter {
    &-wrapper {
        padding: 16px 20px;
        border-bottom: 1px solid var(--light-colour);
    }

    &-input {
        @include flex-center-between;
    }

}

.filter-input-chats {
    width: 100%;
    display: block;
    padding: 2px;
    background: var(--dark-colour);
    @include font-size14-400-150;
    color: var(--light-transparent-colour);
    border-bottom: 1px solid var(--light-transparent-colour);
    min-height: 44px;

    &:focus-within {
        outline: 1px solid var(--primary-colour);
        border-radius: 5px;
    }
}



.control-search-icon {
    width: 18px;
    height: 18px;
}

.search-icon {
    width: 18px;
    height: 18px;
}
