<div class="profile-logo-name" [ngClass]="layoutClass">
  @if (profile(); as profile) {

    <app-avatar-circle [avatarUrl]="profile.avatarUrl" [class]="avatarSize"></app-avatar-circle>

<!-- @if(profile.avatarUrl){
      <img 
           [src]="profile.avatarUrl | imgUrl"
           alt="my avatar"
           />
   } @else {
      <img src="/assets/images/avatar-placeholder.png"
      alt="my avatar"
           />
   } -->

  <div class="profiles-names">
      <h1 class="profile-title">{{ profile.firstName }} {{ profile.lastName }}</h1>
      <div class="profile-subtitle">{{profile.username}}</div>
    </div>
  }
</div>