<img class="avatar" [src]="preview()" alt="profile image placeholder image" />

<div DragAndDrop
class="dropzone"
tabindex="0"
(keyup.enter)="fileDrop.click()"
(fileDropped)="onFileDropped($event)">

    <div class="dropzone-content">
        <svg icon="upload"></svg>
        <span class="medium-text">
            Drop an image here (max resolution: 5,000 × 5,000 p)
        </span>
    </div>

    <input tabindex="-1"
    class="avatar-input"
    type="file"
    [(ngModel)] = "avatar"
    #fileDrop
    (change)="fileBrowserHandler($event)">
</div>