@import '../../../../../styles/mixins.scss';

:host {
  display: flex;
  flex-direction: column;
  padding: 16px 20px;
}

.messages-input {
  margin-top: auto;
}

.message-date-title {
  text-align: center;
  @include font-size12-700;
}