@import '../../../styles/mixins.scss';

:host {
    padding: 20px 0;
    background: var(--dark-colour);
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__content {
        flex-grow: 1;
    }

    &__footer {
        padding: 0 12px;
        margin-top: auto;
    }

    &__logo {
        padding: 0 28px;
    }

    &__menu {
        padding: 0 12px;
    }

    &__subscribes {
        padding: 0 28px;
    }

    &__title {
        font-weight: 500;
        font-size: 12px;
        line-height: 133%;
        color: var(--light-transparent-colour);

    }
}


.main-menu {
    &-list {
        display: grid;
        grid-gap: 8px;
    }

    &-item {
        border-radius: 2px;
        padding: 8px 16px;
        cursor: pointer;

        &:hover,
        &:focus-visible {
            background-color: var(--dark-active-colour);
        }
    }
}

.menu-item-link {
    // color: var(--primary-colour);
    display: grid;
    grid-template-columns: 16px 1fr max-content;
    grid-gap: 12px;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    color: var(--light-colour);

    &.active {
        color: var(--primary-colour);
    }

}

.menu-item-svg {
    color: var(--primary-colour);
    width: 16px;
    height: 16px;
}


.to-subscribers {
    display: flex;
    column-gap: 11px;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    cursor: pointer;

    &:hover,
    &:focus-visible {
        .to-subscribers-link {
            color: var(--primary-colour);
        }

        .to-subscribers-icon {
            color: var(--primary-colour);
        }
    }
}

.to-subscribers-icon {
    width: 16px;
    height: 16px;
    color: var(--light-colour);
}

.footer {

    &-avatar {
        display: grid;
        grid-template-columns: 32px 1fr 16px;
        grid-gap: 12px;
        align-items: center;
        border-radius: 2px;
        padding: 4px 16px;


        &-icon {
            width: 16px;
            height: 16px;
        }
    }

    img {
        width: 32px;
        height: 32px;
        border-radius: 100%;
    }

    &:hover,
    &:focus-visible {
        background-color: var(--dark-active-colour);
    }

    &-name {
        font-weight: 700;
        font-size: 14px;
        line-height: 171%;
    }
}

.settings-button {
    width: 16px;
    height: 16px;

    &:hover,
    &:focus-visible {
        .footer-avatar-icon {
            color: var(--primary-colour);
        }
    }
}