@import '../../../../../styles/mixins.scss';

.header {

    &-body {
        @include flex-center-between;
        padding: 16px 20px;
        border-bottom: 1px solid var(--light-colour);

        &__controls {
            border: 1px solid var(--light-colour);
            border-radius: 2px;
            padding: 14px;
            width: 44px;
            height: 44px;
        }

        &__title {
            display: grid;
            grid-template-columns: 32px auto;
            grid-gap: 12px;
            align-items: center;
            font-weight: 700;
            font-size: 14px;
            line-height: 171%;
            color: var(--light-colour);
        }

    }




}

.control-icon {
    display: inline-block;
    width: 16px;
    height: 16px;

}

.arrow-icon {
    transform: rotate(180deg);
    width: 16px;
    height: 16px;
}

.dots-icon {
    width: 16px;
    height: 16px;
}